---
import { InstagramIcon } from "../icons/InstagramIcon";
import { LinkedInIcon } from "../icons/LinkedInIcon";
import NavBar from "../NavBar/NavBar.astro";
import NavItem from "../NavBar/NavItem.astro";
---

<header
  class="sticky z-20 top-0 pt-4 md:pt-8 w-[calc(100%_-_40px)] left-5 right-5 flex justify-between"
>
  <div class="w-full flex items-center md:justify-start justify-between">
    <NavBar>
      <NavItem> Rose Bowen </NavItem>
      <NavItem href="/#about-me"> About me </NavItem>
      <NavItem href="/#my-work"> My work </NavItem>
    </NavBar>
    <button
      aria-label="Change the colour theme"
      class="ml-4 nav-item theme-button"
    >
      <img src="/images/icons/theme-button.svg" />
    </button>
  </div>
  <div class="gap-4 items-center md:flex hidden">
    <a href="" class="nav-item" aria-label="LinkedIn">
      <LinkedInIcon color="#4CFFF4" />
    </a>

    <a href="" class="nav-item" aria-label="Instagram">
      <InstagramIcon color="#4CFFF4" />
    </a>
  </div>
</header>

<style>
  .nav-item {
    opacity: 0;
    transform: translateY(-20px);
  }

  .theme-button img {
    transition: transform 0.3s ease;
    transform: rotate(var(--rotation, 0deg));
  }

  .theme-button img.hover {
    transform: rotate(var(--rotation, 0deg)) scale(1.1);
  }
</style>

<script>
  import { isLoading } from "../../stores/loadingStore";

  function animateNavItems() {
    const navItems = document.querySelectorAll(".nav-item");
    navItems.forEach((item, index) => {
      item.animate(
        [
          { opacity: 0, transform: "translateY(-20px)" },
          { opacity: 1, transform: "translateY(0)" },
        ],
        {
          duration: 3000,
          easing: "cubic-bezier(.16,1,.3,1)",
          fill: "forwards",
          delay: index * 100,
        }
      );
    });
  }

  function handleScroll() {
    const themeButtonImg: HTMLImageElement =
      document.querySelector(".theme-button img")!;
    if (themeButtonImg) {
      const scrollPercentage =
        window.scrollY /
        (document.documentElement.scrollHeight - window.innerHeight);
      const rotation = scrollPercentage * 360;
      themeButtonImg.style.setProperty("--rotation", `${rotation}deg`);
    }
  }

  isLoading.subscribe((loading: boolean) => {
    if (!loading) {
      animateNavItems();
      window.addEventListener("scroll", handleScroll);

      const themeButtonImg: HTMLImageElement =
        document.querySelector(".theme-button img")!;
      if (themeButtonImg) {
        themeButtonImg.addEventListener("mouseenter", () =>
          themeButtonImg.classList.add("hover")
        );
        themeButtonImg.addEventListener("mouseleave", () =>
          themeButtonImg.classList.remove("hover")
        );
      }
    }
  });
</script>
