---
import HeroImage from "../HeroImage.astro";
---

<section
  class="col-span-4 md:col-span-12 mt-[110px] md:mt-[175px] flex justify-end flex-col gap-[50px] md:gap-[120px]"
>
  <h1
    class="font-surreal text-[40px] md:text-[120px] text-primary-peach text-center"
  >
    One-of-a-kind web connoisseur
  </h1>
  <HeroImage src="/images/covers/man.png" caption="Rose's friend" href="/" />
</section>
