---
import HeroImage from "../HeroImage.astro";
import Header from "./Header.astro";
---

<section
  class="col-span-4 md:col-span-12 flex justify-center flex-col gap-[50px] md:gap-[120px] h-[calc(100dvh)]"
>
  <Header />
  <h1 class="text-primary-blue w-full text-hero text-center">Rose Bowen</h1>
  <!-- <HeroImage src="/images/covers/man.png" caption="Rose's friend" href="/" /> -->
</section>

<style>
  .full-width-text {
    line-height: 90%;
  }
</style>
