---
import ImageWithCaption from "../ImageWithCaption.astro";
---

<div
  class="flex overflow-scroll md:overflow-[unset] flex-col md:block md:max-w-[calc(100%_-_40px)] lg:max-w-7xl lg:px-[20px] md:mx-auto mt-7 md:mt-6"
>
  <div class="flex flex-nowrap gap-3 md:grid grid-cols-12">
    <div class="w-3/4 md:w-full shrink-0 flex-grow md:col-span-4 ml-5 md:ml-0">
      <ImageWithCaption
        src="/images/covers/cuckoo.png"
        href="/"
        caption="Cuckoo Fibre"
      />
    </div>
    <div class="w-3/4 md:w-full shrink-0 flex-grow md:col-span-4">
      <ImageWithCaption
        src="/images/covers/cuckoo.png"
        href="/"
        caption="Cuckoo Fibre"
      />
    </div>
    <div class="w-3/4 md:w-full shrink-0 flex-grow md:col-span-4">
      <ImageWithCaption
        src="/images/covers/cuckoo.png"
        href="/"
        caption="Cuckoo Fibre"
      />
    </div>
    <div class="basis-2 shrink-0 h-2"></div>
  </div>
</div>
