---
import Image from "../Image.astro";
---

<div class="col-span-4">
  <Image src="/images/covers/cuckoo.png" href="/" caption="Cuckoo Fibre" />
</div>
<div class="col-span-4">
  <Image src="/images/covers/cuckoo.png" href="/" caption="Cuckoo Fibre" />
</div>
<div class="col-span-4">
  <Image src="/images/covers/cuckoo.png" href="/" caption="Cuckoo Fibre" />
</div>
