---
import Container from "../Container.astro";
import Grid from "../Grid.astro";

const email = "rosebowen1997@gmail.com";

const infoTexts = [
  "I'm a creative Frontend Developer with a love of making fun, fast, accessible websites.",
  "Feel free to get in touch if you have an idea you would like brought to life.",
  "Scroll down to see more about me!",
];
---

<section aria-label="info" id="info">
  <Container>
    <Grid>
      <div
        class="col-span-4 md:col-span-7 md:mt-[80px] leading-10 [&_*]:text-primary-blue info-text-container -mt-40"
      >
        {
          infoTexts.map((info) => {
            return (
              <p class="text-[24px] md:text-[40px] leading-[110%] info-text">
                {info}
              </p>
            );
          })
        }

        <p class="text-[16px] md:text-[24px] leading-[110%] info-text">
          Email me <a
            href={`mailto:${email}`}
            class="underline underline-offset-8">{email}</a
          >
        </p>
      </div>
    </Grid>
  </Container>
</section>

<style>
  .info-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
    transform: translateY(50px);
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  function setupInfoAnimation() {
    const infoSection: HTMLDivElement = document.querySelector("#info")!;
    const infoTextContainer: HTMLDivElement = infoSection?.querySelector(
      ".info-text-container"
    )!;
    const infoTexts: NodeListOf<HTMLParagraphElement> =
      infoSection?.querySelectorAll(".info-text")!;

    if (!infoSection || !infoTextContainer || !infoTexts) return;

    // Container and text animation
    gsap.fromTo(
      [infoTextContainer, ...infoTexts],
      {
        opacity: 0,
        y: 50,
      },
      {
        opacity: 1,
        y: 0,
        duration: 1,
        ease: "power2.out",
        stagger: 0.2, // Slight stagger between container and paragraphs
        scrollTrigger: {
          trigger: infoSection,
          start: "top 80%",
          end: "top 20%",
          scrub: 1,
          toggleActions: "play none none reverse",
        },
      }
    );
  }

  document.addEventListener("DOMContentLoaded", setupInfoAnimation);
</script>
