---
import Image from "../Image.astro";

const images = [
  { src: "/images/me/purple-rose.png", caption: "Serving" },
  { src: "/images/me/rose-and-jenny.png", caption: "Me and my beautiful gf" },
  { src: "/images/me/rose-in-edinburgh.png", caption: "On top of the world!!" },
  { src: "/images/me/rose-and-catherine.png", caption: "Me and Catherine" },
];

const rotations = [
  "-rotate-[9deg] translate-x-4 -translate-y-4 hover:-translate-y-8 md:hover:-translate-y-10 z-[1]",
  "rotate-0 md:hover:-translate-y-6 hover:-translate-y-4 hover:z-[2]",
  "rotate-[9deg] -translate-x-6 -translate-y-16 hover:-translate-y-20 md:hover:-translate-y-40 md:-translate-y-32 z-[1]",
  "-rotate-[4deg] -translate-x-10 hover:-translate-y-4 md:hover:-translate-y-6 z-[2]",
];
---

<div
  class="flex h-[80vw] sm:h-[55vw] pb-[40px] items-end justify-center md:max-w-[calc(100%_-_40px)] md:mx-auto lg:max-w-7xl lg:px-[20px] -mx-20"
>
  {
    images.map((image, index) => (
      <div
        class={`relative w-1/2 md:w-1/3 aspect-[1/1.2] bg-primary-white rounded-md md:rounded-xl shadow-lg overflow-hidden transform transition-all ease-primary duration-700  ${rotations[index]} group`}
      >
        <div class="p-1.5 md:p-4 pb-[20px] md:pb-[52px] h-full relative">
          <Image
            src={image.src}
            href="/"
            caption={image.caption}
            class="w-full h-full object-cover"
          />
          <div class="absolute h-[20px] md:h-[52px] bottom-0 left-0 right-0 text-primary-white font-semibold text-[10px] md:text-[14px] flex items-center justify-center p-2 md:p-4 transition-opacity duration-300">
            <p class="reveal-animation overflow-hidden whitespace-nowrap">
              {image.caption}
            </p>
          </div>
        </div>
      </div>
    ))
  }
</div>

<style>
  .aspect-[1/1.2] {
    aspect-ratio: 1 / 1.2;
  }

  .reveal-animation {
    position: relative;
    display: inline-block;
  }

  .reveal-animation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    transform-origin: right;
    transform: scaleX(1);
    transition: transform 750ms ease;
  }

  .group:hover .reveal-animation::before {
    transform: scaleX(0);
  }
</style>
