---
import Container from "../components/Container.astro";
import Hero from "../components/homepage/Hero.astro";
import Info from "../components/homepage/Info.astro";
import MyWork from "../components/homepage/MyWork.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rose Bowen Visuals">
  <main class="overflow-hidden">
    <Hero />
    <Info />
    <Container>
      <MyWork />
    </Container>
  </main>
</Layout>
