---
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid.astro";
import Container from "../components/Container.astro";
import Hero from "../components/homepage/Hero.astro";
import Info from "../components/homepage/Info.astro";
import ImageGrid from "../components/homepage/ImageGrid.astro";
import Header from "../components/homepage/Header.astro";
---

<Layout title="Rose Bowen Visuals">
  <main>
    <Container>
      <Header />
      <!-- TODO: Work on scroll animation -->
      <Grid>
        <Hero />
      </Grid>
    </Container>
    <ImageGrid />
    <Info />
  </main>
</Layout>
