---
const { src, caption, href } = Astro.props;
---

<!-- TODO: Work on caption animation --><!-- TODO: Fix hover animation on smaller screens -->
<a target="_blank" href={href} class="relative group h-full">
  <img
    alt="random man"
    loading="lazy"
    width="1200"
    height="500"
    decoding="async"
    class="object-cover max-h-[200px] md:max-h-[500px] w-full object-center rounded-xl md:rounded-lg"
    src={src}
  />
  <div
    class="bg-primary-peach md:px-5 p-4 md:py-6 rounded-l-xl rounded-r-[40px] mt-3 md:mt-0 absolute bottom-6 left-6 flex justify-between duration-secondary transition-[width] ease-primary w-2/3 gap-4 md:right-6 min-w-[180px] md:min-w-fit max-w-[calc(100%_-_48px)] md:w-1/4 md:group-hover:w-[calc(100%_-_48px)]"
  >
    <h3
      class="text-primary-purple font-medium text-[18px] md:text-[24px] truncate"
    >
      {caption}
    </h3>
    <img width="24" class="w-6 md:w-9" src="/images/icons/arrow.svg" />
  </div>
</a>
