---
import Header from "../components/homepage/Header.astro";
import { LinkedInIcon } from "../components/icons/LinkedInIcon";
import LoadingOverlay from "../components/LoadingOverlay.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Frontend developer with a passion for beautiful web experiences"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-hero bg-cover bg-no-repeat">
    <LoadingOverlay />
    <Header />
    <!-- Overflow hidden for polaroids -->
    <main class="overflow-x-hidden">
      <slot />
      <div class="mt-[140px] mb-[60px] flex md:hidden justify-center">
        <a href="https://www.linkedin.com/in/rose-bowen-867a72198/">
          <LinkedInIcon color="#4CFFF4" />
        </a>
      </div>
    </main>
  </body>
</html>

<style is:global>
  :root {
  }
  html {
    font-family: "Space Grotesk", sans-serif;

    * {
      color: black;
    }
  }
  code {
    font-family:
      "Surreal",
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
